@page "/PageMedia"

@using AlmostList.Client
@using AlmostList.Client.Models
@using AlmostList.Client.Models.Enums
@using AlmostList.Client.Models.Responses
@using AlmostList.Client.Models.Requests
@using AlmostList.Utils
@using GraphQL
@using Newtonsoft.Json
@using AlmostList.Components.Pages.Components
@using Sve.Blazor.InfiniteScroll.Components
@inject NavigationManager UriHelper
@inject BaseClient baseClient


<Tabs OnTabChanged="OnTabChanged">
	<Tab Text="@MediaType.ANIME.GetDisplayName()" Value="@MediaType.ANIME.ToString()">

		<div class="pageMedia">

			@if (@render)
			{
				<InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => FetchPageData()">

					@foreach (var item in @PageMediaResponse.Data.Page.Media)
					{
						<div class="list-group-item mediaCard" @onclick="(() => OpenMedia(item.Id))">
							<img src="@item.CoverImage.Medium" />
							<div class="pageMediaInfo">
								<div class="title">
									@item.Title.UserPreferred
								</div>
							</div>
						</div>
					}
					<div id="observerTarget" />
				</InfiniteScroll>
			}
		</div>

	</Tab>
	<Tab Text="@MediaType.MANGA.GetDisplayName()" Value="@MediaType.MANGA.ToString()">
		<div class="pageMedia">

			@if (@render)
			{
				<InfiniteScroll ObserverTargetId="observerTarget" ObservableTargetReached="(e) => FetchPageData()">

					@foreach (var item in @PageMediaResponse.Data.Page.Media)
					{
						<div class="list-group-item mediaCard" @onclick="(() => OpenMedia(item.Id))">
							<img src="@item.CoverImage.Medium" />
							<div class="pageMediaInfo">
								<div class="title">
									@item.Title.UserPreferred
								</div>
							</div>
						</div>
					}
					<div id="observerTarget" />
				</InfiniteScroll>
			}
		</div>
	</Tab>
</Tabs>





@code {



	[Parameter]
	public int search { get; set; }
	string? searchText = null;
	bool render = false;
	GraphQLResponse<PageResponse<PagedMedia>> PageMediaResponse = new GraphQLResponse<PageResponse<PagedMedia>>();
	PageMediaRequest PageMediaRequest = new PageMediaRequest();

	// private IEnumerable<MediaSeason> AllAllowedRoles(MediaSeason season)
	// {
	// 	return Enum.GetValues(typeof(MediaSeason)).Cast<MediaSeason>().Where(role => season >= role);
	// }

	private void OpenMedia(int id)
	{
		UriHelper.NavigateTo($"/Media/{id}");
	}

	public async Task OnTabChanged(Tab tab)
	{
		MakeRequest(true, null, tab);
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		MakeRequest(firstRender);
	}
	private async void MakeRequest(bool firstRender, PageMediaRequest? pageMediaRequest = null, Tab? tab = null)
	{
		if (firstRender)
		{
			PageMediaRequest = new PageMediaRequest
				{
					Page = 1,
					Type = tab == null ? MediaType.ANIME : (MediaType)Enum.Parse(typeof(MediaType), tab.Value)
				};
			render = true;
			PageMediaResponse = await baseClient.GetPageMedia(PageMediaRequest);
			StateHasChanged();
		}
	}
	private async Task FetchPageData()
	{
		if (PageMediaResponse.Data.Page.PageInfo.CurrentPage < PageMediaResponse.Data.Page.PageInfo.LastPage)
		{
			PageMediaRequest.Page += 1;
			var a = await baseClient.GetPageMedia(PageMediaRequest);
			PageMediaResponse.Data.Page.Media.AddRange(a.Data.Page.Media.ToArray());
			PageMediaResponse.Data.Page.PageInfo = a.Data.Page.PageInfo;
		}
	}
}

